.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
}

.system-message {
    background-color: #9f47ff !important;
    position: relative;
}

.system-message::before {
    content: 'Системное сообщение';
    display: block;
    font-size: 0.8em;
    color: #666;
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    padding: 0.2rem;
    z-index: 1;
}