<div class="lg:w-1/5 w-full bg-gray-100 border-l border-gray-300 p-4">
  <h3 class="text-lg font-semibold mb-4">Информация по заказу</h3>
  <p id="order-info-user"  class="break-all"><strong>Пользователь:</strong> undefined</p>
  <p id="order-info-date" class="break-all"><strong>Дата заказа:</strong> undefined</p>
  <p id="order-info-total" class="break-all"><strong>Сумма заказа:</strong> undefined</p>
  <p id="order-info-bill-email" class="break-all"><strong>E-mail для чека:</strong> undefined</p>
  <p id="order-info-cashback-spent" class="break-all"><strong>Списано баллов:</strong> undefined</p>
  <p id="order-info-status" class="break-all"><strong>Статус:</strong> undefined</p>
  <p id="order-info-cashback-awarded" class="break-all"><strong>Начислено кэшбэка:</strong> undefined</p>
  <p id="order-info-promocode" class="break-all"><strong>Промокод:</strong> undefined</p>
  <p id="order-info-promocode-discount" class="break-all"><strong>Скидка по промокоду:</strong> undefined</p>
  <p id="order-info-order-id" class="break-all"><strong>ID Заказа:</strong> undefined</p>
  <p id="order-info-payment-id" class="break-all"><strong>ID Платежа:</strong> undefined</p>
  <p class="break-all"><strong>Данные аккаунта:</strong></p>
  <p id="order-info-account-email" class="break-all"><strong>E-mail:</strong> undefined</p>
  <p id="order-info-account-password" class="break-all"><strong>Пароль:</strong> undefined</p>
</div>