<div class="lg:w-1/5 w-full flex flex-col bg-gray-200 border-r border-gray-300">
  <div class="p-4 border-b border-gray-300">
    <div class="mb-4">
      <button class="w-full bg-blue-500 text-white py-2 px-4 rounded">Все заказы</button>
    </div>
    <div class="mb-4">
      <button class="w-full bg-blue-500 text-white py-2 px-4 rounded">Мои заказы</button>
    </div>
    <div>
      <button class="w-full bg-blue-500 text-white py-2 px-4 rounded">Выполненные заказы</button>
    </div>
  </div>
  <div
    class="flex flex-col p-4 overflow-y-auto lg:overflow-y-scroll scrollbar-thin h-[200px] lg:h-full">
    <button
      class="p-2 mb-2 bg-white border border-gray-300 rounded flex gap-2 items-center select-text flex-wrap">
      <p>ID: 3213421</p>
      <p>Статус: Ошибка оплаты</p>
      <p class="text-gray-500 text-md">21.12.2024</p>
    </button>
    <button
      class="p-2 mb-2 bg-white border border-gray-300 rounded flex gap-2 items-center select-text flex-wrap">
      <p>ID: 3213421</p>
      <p>Статус: /</p>
      <p class="text-gray-500 text-md">21.12.2024</p>
    </button>
  </div>
</div>
