<div class="lg:w-1/5 w-full bg-gray-100 border-l border-gray-300 p-4">
  <h3 class="text-lg font-semibold mb-4">Информация по заказу</h3>
  <p class="break-all"><strong>Пользователь:</strong> 5184855500</p>
  <p class="break-all"><strong>Дата заказа:</strong> 24.05.2024</p>
  <p class="break-all"><strong>Сумма заказа:</strong> 3200</p>
  <p class="break-all"><strong>E-mail для чека:</strong> mail@mail.ru</p>
  <p class="break-all"><strong>Списано баллов:</strong> 994</p>
  <p class="break-all"><strong>Статус:</strong> Оплачен</p>
  <p class="break-all"><strong>Начислено кэшбэка:</strong> 0</p>
  <p class="break-all"><strong>Промокод:</strong> MAY2024</p>
  <p class="break-all"><strong>Скидка по промокоду:</strong> 15%</p>
  <p class="break-all"><strong>ID Заказа:</strong> qwe6767qw6eqw8d7987dq89w96e9</p>
  <p class="break-all"><strong>ID Платежа:</strong> 127364781426</p>
  <p class="break-all"><strong>Данные аккаунта:</strong></p>
  <p class="break-all"><strong>E-mail:</strong> mail@mail.ru</p>
  <p class="break-all"><strong>Пароль:</strong> somepassZXCqwe</p>
</div>
