<script>
  const managerId = {{ user.id }};
  let currentChat = ''




  // ФУНКЦИИ

  function scrollChatDown() {
    const chatDiv = document.getElementById('chat')
    chatDiv.scrollTop = 9999;
  }

  function makeButtonActive(id) {
    const buttons = [
      'orders-list-button-all',
      'orders-list-button-my',
      'orders-list-button-completed'
    ];

    if(id==='accept-order-button') {
      document.getElementById('accept-order-button').classList.add('bg-violet-300')
      return null
    }

    if(id==='complete-order-button') {
      const button = document.getElementById('complete-order-button')
      button.classList.add('bg-green-300')
      return null
    }

    buttons.forEach(buttonId => {
      const button = document.getElementById(buttonId);
      button.classList.toggle('bg-blue-300', buttonId === id);
    });
  }

  function createOrderButton(order) {
    const button = document.createElement('button');
    button.id = order.id
    button.onclick = getOrder
    button.className = 'p-2 mb-2 bg-white border border-gray-300 rounded flex gap-2 items-center select-text flex-wrap';

    const dateParagraph = document.createElement('p');
    dateParagraph.className = 'text-gray-500 text-md';
    dateParagraph.textContent = order.date;

    const statusParagraph = document.createElement('p');
    statusParagraph.className = 'bg-yellow-300 px-2 rounded-full'
    statusParagraph.textContent = `${order.status}`;

    const idParagraph = document.createElement('p');
    idParagraph.textContent = `ID: ${order.telegram_id}`;
    
    const lastMessageParagraph = document.createElement('p');
    lastMessageParagraph.textContent = order.last_message;
    lastMessageParagraph.classList = 'truncate';
    lastMessageParagraph.id = order.id + '-paragraph'

    button.append(dateParagraph, statusParagraph, idParagraph, lastMessageParagraph);

    return button;
  }

  function showMessage(message) {
    const { manager, text, media } = message;

    const messageDiv = document.createElement('div');
    messageDiv.classList.add('flex', 'p-2', 'rounded-lg', 'flex-col', 'mb-2', 'w-fit');

    if (manager) {
        messageDiv.classList.add('bg-green-100', 'ml-auto');
    } else {
        messageDiv.classList.add('bg-blue-100', 'gap-2');
    }

    const textParagraph = document.createElement('p');
    textParagraph.classList.add('text-black');
    textParagraph.textContent = text;

    messageDiv.appendChild(textParagraph);

    if (media) {
        const imgElement = document.createElement('img');
        imgElement.classList.add('rounded-lg', 'max-w-[350px]', 'lg:max-w-[400px]', 'max-h-[400px]');
        imgElement.src = media;
        imgElement.alt = '';

        messageDiv.appendChild(imgElement);
    }

    return messageDiv;
  }

  function addNewMessage(message) {
    const newMessage = showMessage(message)
    return newMessage
  }

  function updateOrdersList(orders) {
    const ordersList = document.getElementById('orders-list');
    ordersList.innerHTML = '';

    orders.forEach(order => {
      const button = createOrderButton(order);
      ordersList.appendChild(button);
    });
  }

  function addNewOrder(order) {
    const ordersList = document.getElementById('orders-list');
    const button = createOrderButton(order);
    ordersList.appendChild(button);
  }

  function updateOrderInfo(order) {
    document.getElementById('order-info-user').innerHTML = `<strong>Пользователь:</strong> ${order.profile || 'Нет данных'}`;
    document.getElementById('order-info-date').innerHTML = `<strong>Дата заказа:</strong> ${order.date || 'Нет данных'}`;
    document.getElementById('order-info-total').innerHTML = `<strong>Сумма заказа:</strong> ${order.amount || 'Нет данных'}`;
    document.getElementById('order-info-bill-email').innerHTML = `<strong>E-mail для чека:</strong> ${order.bill_email || 'Нет данных'}`;
    document.getElementById('order-info-cashback-spent').innerHTML = `<strong>Списано баллов:</strong> ${order.spend_cashback_amount || 'Нет данных'}`;
    document.getElementById('order-info-status').innerHTML = `<strong>Статус:</strong> ${order.status || 'Нет данных'}`;
    document.getElementById('order-info-cashback-awarded').innerHTML = `<strong>Начислено кэшбэка:</strong> ${order.cashback || 'Нет данных'}`;
    document.getElementById('order-info-promocode').innerHTML = `<strong>Промокод:</strong> ${order.promo_code || 'Нет данных'}`;
    document.getElementById('order-info-promocode-discount').innerHTML = `<strong>Скидка по промокоду:</strong> ${order.promo_code_discount || 'Нет данных'}`;
    document.getElementById('order-info-order-id').innerHTML = `<strong>ID Заказа:</strong> ${order.id || 'Нет данных'}`;
    document.getElementById('chat-order-id-info').innerHTML = `Заказ: ${order.id || 'Нет данных'}`;
    document.getElementById('order-info-payment-id').innerHTML = `<strong>ID Платежа:</strong> ${order.payment_url || 'Нет данных'}`;
    document.getElementById('order-info-account-email').innerHTML = `<strong>E-mail:</strong> ${order.email || 'Нет данных'}`;
    document.getElementById('order-info-account-password').innerHTML = `<strong>Пароль:</strong> ${order.password || 'Нет данных'}`;
  }

  function toggleShowElements(isShow) {
    const elements = ["accept-order-button", "complete-order-button", "uploadButton", "send-message-button", "messageInput", "order-info"]
    if(!isShow) {
      elements.forEach(button => {
          const elem = document.getElementById(button);
          if (elem) {
              elem.classList.add('hidden');
          }
      })
    } else {
      elements.forEach(button => {
          const elem = document.getElementById(button);
          if (elem) {
              elem.classList.remove('hidden');
          }
      })
    }
  }

  
  // ТУТ НАЧИНАЮТСЯ СОКЕТЫ
  if (!window.hasInitializedSocket) {
    const wsProtocol = window.location.protocol === "https:" ? "wss:" : "ws:";
    const socket = new WebSocket(`${wsProtocol}//${window.location.host}{{ FORCE_SCRIPT_NAME }}/ws/order_manager/`);

    window.addEventListener('load', () => {
     getAllOrders()
     toggleShowElements(false)
    })

    socket.onmessage = function (event) {
      const data = JSON.parse(event.data);
      console.log(data)
      if (data.type === 'all_orders' || data.type === 'my_orders' || data.type === 'completed_orders') {
        updateOrdersList(data.orders);
      } else if (data.type === 'new_order') {
        addNewOrder(data.order);
      } else if (data.type === 'get_order') {
        const chatDiv = document.getElementById('chat');
        chatDiv.innerHTML = '';
        updateOrderInfo(data.order);
        toggleShowElements(true)
        // ДОБАВИТЬ СКРЫТИЕ КНОПКИ ДЛЯ COMPLETED
        if(data.order.status === 'В работе') {
          document.getElementById('accept-order-button').classList.add('hidden')
          document.getElementById('complete-order-button').classList.remove('hidden')
        } else {
          document.getElementById('accept-order-button').classList.remove('hidden')
          document.getElementById('complete-order-button').classList.add('hidden')
        }
        if(data.order.status === 'Выполнен') {
          document.getElementById('accept-order-button').classList.add('hidden')
        }
        //
        data.order.chat.forEach(message => {
            const messageElement = showMessage(message);
            chatDiv.appendChild(messageElement);
        });
      } else if(data.type === 'chat_message') {
          document.getElementById(data.message.order_id + '-paragraph').innerText = data.message.text
          if(data.message.order_id === currentChat) {
            const newMessage = addNewMessage(data.message)
            const chatDiv = document.getElementById('chat');
            chatDiv.appendChild(newMessage);
          }
      }
    };

    function getAllOrders() {
      socket.send(JSON.stringify({ type: "all_orders_tab", limit: 20, offset: 0 }));
      makeButtonActive('orders-list-button-all');
      document.getElementById('chat-input-container').classList.add('hidden')
    }

    function getMyOrders() {
      socket.send(JSON.stringify({ type: "my_orders_tab", limit: 20, offset: 0 }));
      makeButtonActive('orders-list-button-my');
      document.getElementById('chat-input-container').classList.remove('hidden')
    }

    function getCompletedOrders() {
      socket.send(JSON.stringify({ type: "completed_orders_tab", limit: 20, offset: 0 }));
      makeButtonActive('orders-list-button-completed');
      document.getElementById('chat-input-container').classList.remove('hidden')
    }

    function getOrder(event) {
      const orderId = event?.currentTarget?.id || currentChat
      currentChat = orderId
      console.log(JSON.stringify({type: "get_order", order_id: orderId}))
      socket.send(JSON.stringify({type: "get_order", order_id: orderId}));
      setTimeout(scrollChatDown, 100)
    }

    function sendMessage(event) {
      const input = document.getElementById('messageInput')
      if(event?.key === 'Enter' || event === undefined) {
        socket.send(JSON.stringify({type: "new_message", order_id: currentChat, text: input.value, manager: managerId}));
        input.value = ''
        scrollChatDown()
      }
    }

    function acceptOrder() {
      socket.send(JSON.stringify({type: "accept_order", order_id: currentChat}));
      makeButtonActive('accept-order-button');
      getMyOrders()
      getOrder()
    }

    function completeOrder() {
      socket.send(JSON.stringify({type: "order_completed", order_id: currentChat}));
      makeButtonActive('complete-order-button');
      getCompletedOrders()
      getOrder()
    }

    window.hasInitializedSocket = true;
  }
</script>




<!-- socket.send('{"type": "my_orders_tab", "limit": 20, "offset": 0}');
socket.send('{"type": "all_orders_tab", "limit": 20, "offset": 0}');
{% comment %} socket.send('{"type": "get_order", "order_id": "ff17dd02-982e-4a7f-a2a5-509ec05ebd72"}'); {% endcomment %}
socket.send('{"type": "accept_order", "order_id": "ff17dd02-982e-4a7f-a2a5-509ec05ebd72"}');
{% comment %} socket.send('{"type": "order_completed", "order_id": "ff17dd02-982e-4a7f-a2a5-509ec05ebd72"}'); {% endcomment %}
{% comment %} socket.send('{"type": "new_message", "order_id": "ff17dd02-982e-4a7f-a2a5-509ec05ebd72", "text": "Тестовое сообщение через сокеты", "manager": null}'); {% endcomment %} -->