@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Onest";
  box-sizing: border-box;
}

@layer components {
  .custom-border {
    @apply border border-[#E7E7E8] dark:border-[#26292d] rounded-xl bg-[#F6F7FA] dark:bg-[#FFFFFF0D];
  }
  .custom-border__red {
    @apply border border-[#B13430] dark:border-[#B13430] rounded-xl bg-[#B134300c] dark:bg-[#B134300c];
  }
  .custom-border__psPlus {
    @apply border border-[#ffb800] rounded-xl bg-[#f5f7fd] dark:bg-[#262520] text-[#3c67d7] dark:text-[#ffb800];
  }
  .red-gradient {
    @apply bg-gradient-to-r from-[#C35530] to-[#B13430];
  }
  .text-header {
    @apply text-2xl text-black font-medium dark:text-white;
  }
  .text-title {
    @apply text-base font-medium text-black dark:text-white;
  }
  .text-title-sm {
    @apply text-sm font-medium text-black dark:text-white;
  }
  .text-title-xl {
    @apply text-[18px] font-medium text-black dark:text-white;
  }
  .text-subtitle {
    @apply text-[14px] text-[#606D7B] dark:text-[#FFFFFF99];
  }
  .text-subtitle-info {
    @apply text-[14px] text-black dark:text-white;
  }
  .price-small {
    @apply text-[18px] text-black dark:text-white font-medium;
  }
  .price-medium {
    @apply text-[24px] text-black dark:text-white font-medium;
  }
  .price-big {
    @apply text-[32px] text-black dark:text-white font-medium;
  }
  .custom-marker::marker {
    color: #b13430;
  }
}
